*{
    margin: 0%;
    padding: 0%;
    background-color: black;
}
.i{
    width: 100%;
    
    background: linear-gradient(to top rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);

}
.e{
    
    color: #ff7200;
    font-weight: bold;
    font-size: 22px;
    text-align:center;
    
    
    
    

}
.e h1{
    
padding-top: 15px;
}
.p{
    
    width: 350px;
    height: 200px;
    
    border:  0.7px solid  rgb(143, 221, 18);
    border-radius: 5px;
    margin-left: 29px;
    
    
}
.p h2{
    width: 350px;
    border-bottom: 0.7px solid  rgb(143, 221, 18) ;
    
    
}
.menu{
    
    width:300px;
    float:bottom;
    height: 75px;
    

}
ul{
    float: bottom;
    display: flex;
    justify-content: center;
    

}
ul li{
    list-style: none;
    margin-left: 33px;
    margin-top: 27px;
    font-size: 18px;
    padding-top: 9.5px;

}
ul li a
{
    text-decoration: none;
    color: aliceblue;
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;



}
ul li a:hover{
color:#ff7200
}

.menu1{
    width:300px;

    border-top:  0.7px solid  rgb(143, 221, 18);

}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}
ul li{
    list-style: none;
    margin-left: 33px;
    margin-top: 27px;
    font-size: 18px;
    padding-top: 9.5px;

}
ul li a
{
    text-decoration: none;
    color: aliceblue;
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;



}
ul li a:hover{
color:#ff7200
}


.e p{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(210, 208, 212);
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
    text-align: left;
    padding-top: 30px;
    margin-top: 80px;
}

.m{
    
    width: 1200px;
    float: right;
    position: 100px;
       
}
.y{
    margin-left: 19px;
}
.o{

    margin-left: 720px;
    margin-top: -45px;
}
.o input{
    width: 500px;
    height: 60px;
}
.pp a:hover{
    color: antiquewhite;
    transition: 0.3s ease-in-out;

}